<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name || user.username %></p>
<p class="lead mb-3">Current Active Sessions:</p>
<p></p>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
